[user]
    name = marky
    email = markism1224amarille@gmail.com
    {{ if eq .chezmoi.os "windows" -}}
    signingkey = ~/.ssh/id_ed25519.pub
    {{- end -}}
    {{ if eq .chezmoi.os "linux" -}}
    signingkey = /home/marky/.ssh/id_ed25519.pub
    {{- end }}

[init]
    defaultBranch = master

[core]
    editor = nvim
    autocrlf = input

[pull]
    rebase = true

[rebase]
    autoStash = true

[credential]
    helper = store

[gpg]
    format = ssh

[commit]
    gpgsign = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[url "git@github.com:"]
    insteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/

[diff]
    colorMoved = default
    algorithm = histogram
    tool = nvimdiff

[difftool]
    prompt = false
